services:
  frontend:
    build: .
    restart: always
    ports:
      - "3001:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - NUXT_PUBLIC_API_BASE=http://127.0.0.1:8000